*{
  margin: 0;
  padding: 0;
}
.header{
  background-color: goldenrod;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  color: black;
}
ul{
  display: flex;
  padding-right: 30px;
  font-weight: bold;
}
li{
  margin: 30px;
  text-transform: uppercase;
  list-style: none;
}
.icons{
  height: 50px;
  width: 50px;
  padding: 20px 40px;
}
.header h2{
  padding: 20px;
  font-size: 40px;
}
.firstrow{
  display: flex;
  gap: 50px;
  margin: 10px;
}
.secondrow{
  display: flex;
  gap: 50px;
}
.img{
  height: 400px;
  width: 400px;
  margin: 10px;
}

.card{
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 500px;
  text-align: center;
  align-content: center;
  
}
.card h2{
  font-size: 20px;
  text-transform: uppercase; 
}
.card p{
  margin: 5px;
  font-size: 25px;
}
.card button{
  font-size: 20px;
  width: 150px;
  margin: 10px;
  background-color: teal;
  color: white;
}
.product{
  width: 700px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
